body {
    background-image: url(../images/stars.jpg);
    background-size: cover;
}

h1 {
    text-align: center;
    color: white;
    margin-top: 10px;
}

h4 {
    text-align: center;
    color: cyan;
}

h5 {
    text-align: center;
    color: orange;
    font-weight: bold;
}

.container {
    height: 500px;
    width: 750px;
    border: 2px dashed white;
}

#time-left {
    text-align: center;
    margin-top: 10px;
    color: red;
}

#start {
    margin-left: 42%;
    margin-top: 30%;
}

#reset {
    margin-left: 42%;
    margin-top: 20%;
}

#questionBlock {
    text-align: center;
    color: yellow;
}

.answerpick {
    padding: 5px;
    background: darkblue;
    text-align: center;
    margin: 10px auto;
    width: 40%;
    border: 2px solid white;
    color: white;
}

.answerpick:hover {
   color: orange;
   border: 4px solid orange;
}

img {
    margin-left: 28%;
}

  




